<div class="layout layout--col layout--center gap--medium text--center px--2">
  <span class="title title--base lg:title--xlarge" data-pixel-perfect="true">{{ t_title }}</span>

  <span class="value value--mega text--black" data-fit-value="true">{{ t_blocked_text }}</span>

  <span class="description description--base lg:description--large text--gray-50 1bit:hidden">
    {{ t_desc }}
  </span>
  <span class="description description--base lg:description--large text--black hidden 1bit:inline-block">
    {{ t_desc }}
  </span>
</div>

{% render 'title_bar', svg_logo: svg_logo, title: t_status_bar, update_time: t_updated_text %}
