<div class="layout">
  <div class="richtext richtext--center gap">
    <span class="title title--base lg:title--large" data-pixel-perfect="true">{{ t_title }}</span>

    <div class="mt--1 lg:mt--2">
      <span class="title title--xlarge lg:title--xxlarge" style="font-size: 60px; line-height: 1;">{{ t_blocked_text }}</span>
    </div>
  </div>
</div>

{% render 'title_bar'
  , svg_logo: svg_logo
  , title: t_status_bar
  , update_time: t_updated_text %}
